<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>목록 추가하기</h1>
<hr>

<form action="/board" method="POST">
    <table>
        <tr>
            <td><input type="text" name="inputTitle" placeholder="제목을 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="inputWriter" placeholder="작성자를 입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>
<hr>


<% for(let post of posts) { %>
    <table>
        <tr>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.writer %></td>
            <td><%= post.createdAt %></td>
            <td><button ><a href="/board/<%=post.id%>">수정하기</a></button></td>

            <form action="/board/<%=post.id%>?_method=DELETE" method="post">
                <td><input type="submit" value="삭제하기"></input></td>
            </form>
        </tr>

        <form action="/reply/<%=post.id%>" method="post">
            <tr>
                <td><input type="text" name="replyWriter" placeholder="작성자를 입력해주세요"></td>
                <td><input type="text" name="replyContent" placeholder="내용을 입력해주세요"></td>
            </tr>
            <tr>
                <td><input type="submit" value="댓글 등록"></td>
            </tr>
        </form>
        <% if(post.replies){
                for(let reply of post.replies){ %>
            <tr>
                <td><%= reply.dataValues.writer %></td>
                <td><%= reply.dataValues.content %></td>
            </tr>
        <% } %>
        <% } %>
    </table>
    <hr>
<% } %>


</body>
</html>